
.fa-arrow-left{
  color:white;
  padding:1rem;
}

input{
  width:100%;
  border:none;
  outline: none;
}

form{
  display:flex;
  flex-direction: column;
  gap:1rem;
}

.input-window{
  border-radius: 6px;
  background-color: white;
  border: 1px solid rgb(202, 202, 202);
  height:3.5rem;
  padding:0.4rem;
}
.description{
  height:7rem;
}

textarea{
  resize: none;
  border: none;
  width: 100%;
  outline: none;
  height: 5rem;
}

.form-container{
  display:flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

#titleWindow{
  flex-grow: 2 !important;
}

#categoryWindow{
  flex-grow: 1 !important;
  min-width: 6rem;
}
#categories{
  border: none;
}
form label{
  font-size: 0.8rem;
  color: gray;
}

.container{
  max-width: 900px;
  padding:1rem;
  margin-left: auto;
  margin-right: auto;
  height:400px;
  justify-content: space-around;
  display:flex;
  flex-direction: column;
}

.admin-buttons{
  width:20rem;
  height: 4rem;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgb(202, 202, 202);
  display:flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
}

#addCourse{
  width:100% !important;
}

.active{
  background-color: var(--hover-button) !important;
  border-color: var(--hover-button) !important;
  color: var(--dark-color) !important;
}

#adminActions{
  height:25rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.small-window{
  width: 46%;
}

@media screen and (max-width: 480px) {
  
  .admin-buttons{
    width:15rem;
  }

  #modalTitle{
    font-size: 1.4rem !important;
  }

  h1{
    font-size: 2.2rem;
  }

  form, .form-container{
    gap:0.5rem;
  }
}