.landing {
  background-blend-mode: darken;
  background: rgba(0, 0, 0, 0.3)
    url("../img/javier-trueba-iQPr1XkF5F0-unsplash.jpg") no-repeat center/cover;
  /* background: url("../img/photo-1503428593586-e225b39bddfe.jfif") no-repeat center/cover ; */
  height: 35rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.landing-text {
  display: flex;
  flex-direction: column;
  color: var(--light-color);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1.1rem;
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
}

.add-to-cart{
  width:5rem;
  padding:0.4rem;
  cursor: pointer;
  align-self: flex-start;
  outline: none;
  display:flex;
  justify-content: center;
}

.separator{
  font-size: 1rem;
}

#coursesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.content-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 2rem 1rem;
}

.course {
  border: 1px solid rgb(202, 202, 202);
  height: auto;
  width: 500px;
  border-radius: 4px;
  padding: 1rem;
  display:flex;
  justify-content: space-between;
}

.course:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.course h3{
 max-width: 23rem;
}

.course h3{
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.course-info-second{
padding-top:0.3rem;
}

#info-text {
  padding-bottom: 2rem;
}

.filter-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--light-color);
  padding: 0.3rem;

  font-weight: 400;
  font-size: 1rem;
}

.filter-button:hover {
  color: var(--hover-button);
}

#courseCategories {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#cartItem{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:1rem;
  flex-wrap: wrap;
}

#cartItem .fas{
  color:green;
  font-size: 2rem;
}

.cart-item-description{
  width: 18rem;
}

#ToCartButton{
  justify-content: center;
  width: 9rem;
  padding:0.8rem 0;
}

@media screen and (max-width: 768px) {
  .course{
    width: 100%;
  }

  #ToCartButton{
    width: 100%;
  }
}
