.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  border: 1px solid #888;
  max-width: 800px;
  flex: 0 0 100%;
  padding: 1rem;
  border-radius: 6px;
}

.modal-content h3{
  padding:0;
}

.close {
  color: #aaa;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom:1rem;
}

.modal-header h1,h2,h3,h4{
  padding:0;
}

.modal-title{
  font-weight: 600;
}