/* NAVBAR */
@media screen and (max-width: 805px) {
  
  .nav-links {
    align-items: center;
    position: absolute;
    top: var(--navbar-height);
    gap: 2rem;
    flex-direction: column;
    right: 0px;
    align-items: center;
    height: 20rem;
    background-color: var(--primary-color);
    width: 100%;
    transform: translateY(-200%);
    z-index: 2;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  #loginButton {
    margin: 0;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes navbarFadeIn {
  from {
    transform-origin: top;
    transform: scale(1, 0);
  }
  to {
    transform-origin: top;
    transform: scale(1, 1);
  }
}

@keyframes navbarFadeOut {
  from {
    transform-origin: top;
    transform: scale(1, 1);
  }
  to {
    transform-origin: top;
    transform: scale(1, 0);
  }
}

.cross .line1 {
  transform: rotate(-225deg) translate(6px, -6px);
}
.cross .line2 {
  opacity: 0;
}
.cross .line3 {
  transform: rotate(225deg) translate(6px, 6px);
}

/* FOOTER */
@media screen and (max-width: 805px) {
  .footer {
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
  }
  .footer-2 {
    flex-wrap: wrap;
  }

  .footer-content {
    min-width: 300px;
  }

  .footer-content:last-child {
    margin: 0;
  }
}
